<!DOCTYPE html> 
<html> 
   <head> 
      <meta charset="utf-8" /> 
      <title>Magic Controller here</title> 
   </head> 

   <body> 
     <h1>Hey this is a Magic Mvc View..</h1>
     <p>Cool Ya...</p>
     <p>(secretly) I have an api dont tell anyone..</p>
   </body> 
</html>